# Statistics about SQL

In [40]:
from os import environ

import pandas as pd
from sqlalchemy import create_engine

In [41]:
db_uri = environ.get('SQLALCHEMY_DATABASE_URI', "postgresql://postgres:postgres@localhost:5432/spartid_ais")
engine = create_engine(db_uri)

In [48]:
pd.read_sql_query(
"""
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public'
    ORDER BY table_name;
""", engine)

          table_name
0  geography_columns
1   geometry_columns
2  historic_position
3   imo_vessel_codes
4      last_position
5    spatial_ref_sys

In [49]:
df_raw_history = pd.read_sql_query("SELECT * from historic_position", engine)
print(len(df_raw_history))
df_raw_history

3080

        id       mmsi        lat       long                  timestamp
0        1  257009450  67.120700  14.308678 2023-10-07 21:07:41.402540
1        2  257306500  60.621048   5.589347 2023-10-07 21:07:41.410406
2        3  257543500  67.938233  13.075233 2023-10-07 21:07:41.415130
3        4  257034480  59.407538   5.261223 2023-10-07 21:07:41.420067
4        5  258024800  63.479207   7.998342 2023-10-07 21:07:41.911601
...    ...        ...        ...        ...                        ...
3075  3076  257261000  68.788632  16.551577 2023-10-07 21:10:33.764479
3076  3077  257922900  61.882367   5.910960 2023-10-07 21:10:33.769380
3077  3078  257017100  63.102895   7.814632 2023-10-07 21:10:33.774314
3078  3079  257076850  60.592485   4.893068 2023-10-07 21:10:33.779806
3079  3080  257124460  69.693172  18.613662 2023-10-07 21:10:33.789891

[3080 rows x 5 columns]

In [44]:
df_raw_history.dtypes

id                    int64
mmsi                  int64
lat                 float64
long                float64
timestamp    datetime64[ns]
dtype: object

In [45]:
(df_raw_history
  .assign(time=pd.to_datetime(df_raw_history["timestamp"]))
  .drop(columns=["id", "timestamp"])
  .astype({"mmsi" : "category"})
).to_parquet("history_small.parquet.gz", compression="gzip")

In [46]:
df_raw_imo_vessels = pd.read_sql("SELECT * from imo_vessel_codes", engine)
print(len(df_raw_imo_vessels))
df_raw_imo_vessels

784

          mmsi      imo             name flag type
0    257230800        0       GRIP SOLAR        80
1    258582000  6711467  STEFFEN ANDREAS        70
2    257035150  9525560      GEO CASPIAN        31
3    259674000  8739009          VEDEROY        60
4    257147200        0         SOVIKNES         0
..         ...      ...              ...  ...  ...
779  258499000  5351894        POLARGIRL        61
780  257093390        0       RAMNTINDEN        52
781  258003290  8611958      SULE VIKING        70
782  258104000  6930544        NORDKABEL        33
783  257254000        0           TANGEN        30

[784 rows x 5 columns]